*{
      
    margin: 0;
    padding: 0;
    /* font-family: 'poppins',sans-serif; */
    box-sizing: border-box;
}

/* body{
    background: #080808;
    color: #fff;
} */

#header {
  
    height: 100vh;
    background-image: url(/Ritik\ img.jpg) ;
    background-size:cover ;
    background-position: center;
    color: white;
}

.container{
   width: 90%;
   margin: auto;
   padding-top: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

nav img {
    max-height: 80px;
    width:auto;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
  
   margin-left: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none; 
    font-size: 18px;
     transition: 0.5s;

}



nav ul li a:hover{
  color :#ffcc00;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size:60px ;
    margin-top: 20px;

}

.header-text h1 span{
    color:#ff004f;
}

#about {
    padding: 80px 0;
    color: #ababab;
}